<div class="container">
    <h1 class="formHeader">Crear carrera</h1>
    <form id="carreraForm" [formGroup]="carreraForm" (ngSubmit)="onSubmit()">
        <h2>Tipo de carrera</h2>
        <div class="form-group">
            <label class="selector-opcion">
                <input type="radio" formControlName="tipo" name="tipo" value="circuito" class="form-control" required/>
                <span>Circuito</span>
            </label>
            <label class="selector-opcion">
                <input type="radio" formControlName="tipo" name="tipo" value="evento" class="form-control"/>
                <span>Evento</span>
            </label>
        </div>

        <h2>Modalidad</h2>
        <div class="form-group">
            <label class="selector-opcion">
                <input type="radio" formControlName="modalidad" name="modalidad" value="trazado" class="form-control" required/>
                <span>Trazado</span>
            </label>
            <label class="selector-opcion">
                <input type="radio" formControlName="modalidad" name="modalidad" value="score" class="form-control"/>
                <span>Score</span>
            </label>
        </div>

        <h2>Tipo de cronometraje</h2>
        <div class="form-group">
            <label class="selector-opcion">
                <input type="radio" formControlName="cronometraje" name="cronometraje" value="QR" class="form-control" required/>
                <span>QR</span>
            </label>
            <label class="selector-opcion">
                <input type="radio" formControlName="cronometraje" name="cronometraje" value="GPS" class="form-control" disabled/>
                <span>GPS (aún no)</span>
            </label>
        </div>

        <!-- TODO: ¿Simbología personalizada?, ¿modo de mapa? (ambos?) -->

        <!-- Solo en mapas georeferenciados 
        <h2>Modo ayuda</h2>
        <div class="form-group">
            <label class="selector-opcion">
                <input type="radio" formControlName="modoayuda" name="modoayuda" value="permitir" class="form-control" required/>
                <span>Permitir</span>
            </label>
            <label class="selector-opcion">
                <input type="radio" formControlName="modoayuda" name="modoayuda" value="nopermitir" class="form-control" disabled/>
                <span>No permitir</span>
            </label>
        </div> -->

        <h2>Recorridos</h2>
        <h4>¿Cómo se van a generar los recorridos?</h4>
        <div class="form-group">
            <a class="selector-opcion" routerLink='recorridos'>Trazar aquí</a>
            <a class="selector-opcion" routerLink='recorridos'>Importar desde PurplePen</a>
        </div>

    </form>
</div>

<!-- Diálogo de restauración de borrador de carrera -->
<ng-template #modalBorrador let-modal>
    <div class="modal-header">
        <h5 class="modal-title">¿Restaurar borrador de carrera?</h5>
        <button type="button" class="close" (click)="restauraBorrador(false)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">Parece que no acabaste de crear una carrera anteriormente, ¿quieres continuar con su creación?<br><br>Se cargará de nuevo toda la configuración que elegiste:<br>TODO Añadir detalles del borrador en el diálogo</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ngbAutofocus (click)="restauraBorrador(false)">Descartar</button>
        <button type="button" class="btn btn-success" (click)="restauraBorrador(true)">Restaurar</button>
    </div>
</ng-template>