<div id="barra-superior">
    <input #inputPurplePen id="input-purplepen" type="file" class="inputfile" (change)="importarPurplePen($event)">
    <label id="label-importar-purplepen" for="input-purplepen" class="btn btn-primary">Importar desde PurplePen</label>

    <input #inputMapa id="input-mapa" type="file" class="inputfile" (change)="cargarMapa($event)">
    <label id="label-seleccionar-mapa" for="input-mapa" class="btn btn-primary">Seleccionar mapa base</label>

    <label for="input-escala">Escala:</label>
    <input id="input-escala" type="text">
</div>

<div id="wrapper-inferior">
    <!-- Editor de trazados -->
    <editor-trazado id="trazador">

    </editor-trazado>

    <!-- Barra lateral -->
    <div id="barra-lateral">
        <div id="configuraciones">
            <table>
                <tbody>
                    <tr *ngFor="let c of recorridoActual.idControles">{{c}}</tr>
                </tbody>
            </table>
        </div>
        <button id="btn-guardar" class="btn btn-primary">Guardar recorridos</button>
    </div>
</div>