@import "../../../styles.scss";

/*********** LAYOUT GENERAL ***********/
#barra-superior {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

#wrapper-inferior {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-flex;
    padding: 0 15px;
}

#trazador {
    flex-grow: 1;
    min-width: 600px;
    min-height: 600px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

#barra-lateral {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/*********** BOTÓN IMPORTAR PURPLE PEN ***********/
#label-importar-purplepen {
    margin-left: 30px;
    background-color: purple;
    border-color: purple;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif, fontawesome;
    font-weight: bold;
    cursor: pointer;
}
#label-importar-purplepen:before {
    margin-right: 10px;
    content: "\f07c";
}

/*********** BOTÓN SELECCIONAR MAPA BASE ***********/
#label-seleccionar-mapa {
    margin-left: 20px;
    background-color: limegreen;
    border-color: limegreen;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif, fontawesome;
    font-weight: bold;
    cursor: pointer;
}
#label-seleccionar-mapa:before {
    margin-right: 10px;
    content: "\f279";
}

/* Oculta la parte fea del input file */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label * {
	pointer-events: none;
}


/*********** BARRA LATERAL DE CONFIGURACIONES ***********/
#configuraciones {
    flex-grow: 1;
    border: 2px solid black;
}

#lista-recorridos {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
#lista-recorridos > div {
    margin: 10px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: $color-orientacion-light;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
}
#lista-recorridos > div:hover {
    background-color: $color-orientacion !important;
    cursor: pointer;
}
.seleccionado {
    background-color: $color-orientacion-dark !important;
    cursor: auto !important;
    transform: scale(0.8);
    border: 2px solid gray !important;
}

// TEST DE POSICION Y ESTILO DEL BOTÓN
.nuevo-rec-test {
    background-color: $color-orientacion !important;
    color: white !important;
    padding: 10px !important;
    margin-left: 30px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif, fontawesome;
}
.nuevo-rec-test i {
    margin-right: 10px;
}


#btn-nuevo-recorrido {
    color: $color-orientacion;
    font-size: 2.5em;
    padding: 0;
}
#btn-nuevo-recorrido:focus { 
    box-shadow: none;
    //color: $color-orientacion-dark;
    // Al soltar no se quita el color
}
#btn-nuevo-recorrido .fa {
    transition: all .3s ease-out;
}
#btn-nuevo-recorrido:hover .fa {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#descripcion-controles {
    overflow-y: scroll;
}

// TEST
#configuraciones table {
    width: 100%;
    text-align: center;
}

/*********** BOTÓN GUARDAR RECORRIDOS ***********/
#btn-guardar {
    width: 50%;
    margin: 15px auto;
    font-size: large;
    font-weight: bold;
}



/***********  ***********/
/***********  ***********/
/***********  ***********/
/***********  ***********/
/***********  ***********/