<div class="easyo-container">
    <h1 class="formHeader">Crear carrera</h1>
    <form id="carreraForm" [formGroup]="carreraForm" (ngSubmit)="onSubmit()" *ngIf="carrera">
        <h2>Nombre</h2>
        <input id="nombre" type="text " formControlName="nombre" class="form-control">
        
        <h2>Tipo de carrera</h2>
        <div class="form-group">
            <label>
                <input type="radio" formControlName="tipo" name="tipo" value="EVENTO" class="form-control selector-opcion" required />
                <div class="selector-opcion-cont noselect">
                    <span>Evento</span>
                </div>
            </label>
            <label>
                <input type="radio" formControlName="tipo" name="tipo" value="CIRCUITO" class="form-control selector-opcion"/>
                <div class="selector-opcion-cont noselect">
                    <span>Circuito</span>
                </div>
            </label>
        </div>

        <h2>Modalidad</h2>
        <div class="form-group">
            <label>
                <input type="radio" formControlName="modalidad" name="modalidad" value="LINEA" class="form-control selector-opcion" required/>
                <div class="selector-opcion-cont noselect">
                    <span>Trazado</span>
                </div>
            </label>
            <label>
                <input type="radio" formControlName="modalidad" name="modalidad" value="SCORE" class="form-control selector-opcion"/>
                <div class="selector-opcion-cont noselect">
                    <span>Score</span>
                </div>
            </label>
        </div>

        <h2>Visibilidad</h2>
        <div class="form-group">
            <label>
                <input type="radio" formControlName="visibilidad" name="visibilidad" value="publica" class="form-control selector-opcion" required/>
                <div class="selector-opcion-cont noselect">
                    <span>Pública</span>
                </div>
            </label>
            <label>
                <input type="radio" formControlName="visibilidad" name="visibilidad" value="privada" class="form-control selector-opcion"/>
                <div class="selector-opcion-cont noselect">
                    <span>Privada</span>
                </div>
            </label>
        </div>

        <!--
        <h2>Tipo de cronometraje</h2>
        <div class="form-group">
            <label>
                <input type="radio" formControlName="cronometraje" name="cronometraje" value="QR" class="form-control" required/>
                <span>QR</span>
            </label>
            <label>
                <input type="radio" formControlName="cronometraje" name="cronometraje" value="GPS" class="form-control" disabled/>
                <span>GPS (aún no)</span>
            </label>
        </div>
        -->

        <!-- TODO: ¿Simbología personalizada?, ¿modo de mapa? (ambos?) -->

        <!-- Solo en mapas georeferenciados 
        <h2>Modo ayuda</h2>
        <div class="form-group">
            <label>
                <input type="radio" formControlName="modoayuda" name="modoayuda" value="permitir" class="form-control" required/>
                <span>Permitir</span>
            </label>
            <label>
                <input type="radio" formControlName="modoayuda" name="modoayuda" value="nopermitir" class="form-control" disabled/>
                <span>No permitir</span>
            </label>
        </div> -->

        <div class="btn-siguiente" (click)="clickRecorridos()">Crear recorridos</div>

    </form>
</div>
