<div class="easyo-container">

    <ng-container *ngIf="carrera">
        <button class="btn btn-secondary btn-descargar-pdf" (click)="descargarPDF()" [disabled]="generandoPDF">
            Descargar PDF
            <span *ngIf="generandoPDF" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>

        <h1>Controles "{{carrera.nombre}}"</h1>
        
        <!-- TODO 
        <h2>Configuración</h2>
        
            - Tamaño QR
            - Tamaño código control / nombre recorrido
            - Distancia QR / texto
            - Formato folio de impresión (A3/4/5...)
        -->


        <h2>Previsualización PDF</h2>
        <div id="vista-pdf" #vistaPDF>

            <!--
            <div *ngFor="let pagina of paginasControles" class="pagina-pdf">
                <div class="lista-controles">
                    <div class="control" *ngFor="let control of pagina">
                        <div [attr.id]="'QR-' + control.codigo" class="qr-control"></div>
                        <span class="codigo-control">{{control.codigo}}</span>
                        <span class="marca-agua">easyorienteering.com</span>
                    </div>
                </div>
            </div>
            -->
            <!--
            <div class="pagina-pdf">
                <h1>Controles de la carrera "{{carrera.nombre}}"</h1>
                <div class="lista-controles">
                    <div class="control" *ngFor="let control of controles">
                        <div [attr.id]="'QR-' + control.codigo" class="qr-control"></div>
                        <span class="codigo-control">{{control.codigo}}</span>
                        <span class="marca-agua">easyorienteering.com</span>
                    </div>
                </div>
            </div>
            -->
        </div>
                
    </ng-container>


    <ng-container *ngIf="!carrera">
        <div class="wrapper-cargando">
            <div class="lds-baliza-wrapper" *ngIf="!errorCarga">
                <div class="lds-baliza"></div>
            </div>
            <div *ngIf="errorCarga">
                <h1>Ocurrió un error :(</h1>
                <button class="btn btn-primary btn-reintentar" (click)="refresh()">Volver a intentar</button>
            </div>
        </div>
    </ng-container>

</div>