<div class="easyo-container">
    <div class="btns-cabecera">
        <button *ngIf="idCarrera" class="btn btn-info btn-cabecera-izda btn-volver" (click)="clickBotonVolver()">Volver a carrera</button>
        <button *ngIf="idCarrera" class="btn btn-primary btn-cabecera-dcha btn-actualizar" (click)="clickBotonActualizar()">Actualizar
        </button>
    </div>

    <h1 *ngIf="recorrido"><i>Resultados {{recorrido.nombre}}</i></h1>

    <table *ngIf="resultados && resultados.length > 0" class="tabla-resultados text-center" (mousedown)="mouseDownResultados($event)" 
            (mousemove)="mouseMoveResultados($event)" (mouseup)="mouseUpResultados()" (mouseleave)="mouseUpResultados()" #tablaResultados>
        <thead>
            <tr>
                <th rowspan="2">#</th>
                <th class="resultado-nombre-club">Nombre</th>
                <th rowspan="2">Tiempo</th>

                <th rowspan="2" colspan="2" *ngFor="let cabecera of cabecerasTrazado" class="cabecera-trazado">{{cabecera}}</th> 
                <ng-container *ngIf="modalidad === MOD_SCORE">
                    <th rowspan="2">Puntuación</th>
                    <th rowspan="2" *ngFor="let codigo of listaControles">{{codigo}}</th>
                </ng-container>
            </tr>
            <tr>
                <th class="resultado-nombre-club">Club</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-resultado [ngForOf]="resultados">
                <tr>
                    <td rowspan="2">{{resultado.posicion}}</td>
                    <td class="text-left resultado-nombre">{{resultado.nombre}}</td>
                    
                    <td *ngIf="resultado.tipo === TIPO_OK" [attr.rowspan]="(modalidad === MOD_TRAZADO) ? '1' : '2'"><b>{{resultado.tiempoTotal | tiempo}}</b></td>
                    <td rowspan=2 *ngIf="resultado.tipo === TIPO_PENDIENTE" class="marca-tipo-resultado marca-pendiente">PENDIENTE</td>
                    <td rowspan=2 *ngIf="resultado.tipo === TIPO_ABANDONADO" class="marca-tipo-resultado marca-abandona">ABANDONA</td>

                    <ng-template ngFor let-parcial [ngForOf]="resultado.parciales">
                        <td [ngClass]="{'parcial-primero': parcial.posicionParcial === 1, 'parcial-podio': parcial.posicionParcial <= 3}">
                            {{parcial.tiempoParcial | tiempo}}</td>
                        <td [ngClass]="{'parcial-primero': parcial.posicionParcial === 1, 'parcial-podio': parcial.posicionParcial <= 3}"
                            class="resultado-posicion">({{parcial.posicionParcial}})</td>
                    </ng-template>

                    <ng-container *ngIf="modalidad === MOD_SCORE">
                        <!-- TODO Puntuación total -->
                        <td rowspan="2"><b>{{resultado.puntuacion}}</b></td>
                        <td rowspan="2" *ngFor="let picado of resultado.puntosRegistrados">
                            <span class="marca-picado" *ngIf="picado"></span>
                        </td>
                    </ng-container>
                </tr>
                <tr class="fila-inferior">
                    <td class="text-left resultado-nombre">{{(resultado.club.length > 0) ? resultado.club : '&nbsp;'}}</td>
                    <td *ngIf="resultado.tipo === TIPO_OK && modalidad === MOD_TRAZADO"><b>{{resultado.diferenciaGanador | tiempo:'+'}}</b></td>

                    <ng-template ngFor let-parcial [ngForOf]="resultado.parciales">
                        <td [ngClass]="{'parcial-primero': parcial.posicionAcumulada === 1, 'parcial-podio': parcial.posicionAcumulada <= 3}">
                            {{parcial.tiempoAcumulado | tiempo}}</td>                        
                        <td [ngClass]="{'parcial-primero': parcial.posicionAcumulada === 1, 'parcial-podio': parcial.posicionAcumulada <= 3}" 
                            class="resultado-posicion">({{parcial.posicionAcumulada}})</td>                        
                    </ng-template>
                </tr>
            </ng-template>
        </tbody>
    </table>

    
    <h3 *ngIf="resultados && resultados.length === 0" class="sin-resultados">No hay resultados (aún)</h3>

    <ng-container *ngIf="resultados === null">
        <div class="wrapper-cargando">
            <div class="lds-baliza-wrapper" *ngIf="!errorCarga">
                <div class="lds-baliza"></div>
            </div>
            <div *ngIf="errorCarga">
                <h1>Ocurrió un error ☹</h1>
                <button class="btn btn-primary btn-reintentar" (click)="clickBotonActualizar()">Volver a intentar</button>
            </div>
        </div>
    </ng-container>
</div>