@import "../../../styles.scss";

.container {
    margin-top: 50px;
}

.btn-sin-algo {
    margin-top: 40px;
}
.btn-sin-algo input {
    display: none;
}


.header-seccion {
    position: relative;
    width: min-content;
    margin: 70px auto 0 auto;
}

.header-resumen {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.form-datos {
    margin-left: 80px;
    flex: 1;
}

.tabla-datos {
    border-collapse: separate;
    border-spacing: 20px;
}

.tabla-datos td:first-child {
    padding-right: 24px;
    font-size: 1.6rem;
    font-weight: bold;
}

.form-nombre {
    min-width: 300px;
}

.datos-selector {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
.datos-selector > * {
    flex: 1;
    margin: 0;
}
.datos-selector label:first-child {
    margin-right: 10px;
}

.form-notas {
    width: 100%;
    padding: 0 !important;
    font-size: 1rem !important;
    text-align: end;
}
.form-notas textarea {
    width: 80%;
    min-height: 70px;
}


.selector-opcion {
    display: none;
}
.selector-opcion:checked + .selector-opcion-cont {
    background-color: $color-orientacion;
    color: white;
    cursor: initial;
}

.selector-opcion-cont {
    padding: 2px 0;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    transition: .3s all;
}
.selector-opcion-cont:hover {
    background-color: $color-orientacion-light;
    color: white;
    cursor: pointer;
}











.btn-editar {
    position: absolute;
    bottom: 0;
    margin-left: 300px;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: $color-orientacion;
    border: 2px solid black;
    border-radius: 10px;
    transition: .3s all;
}
.btn-editar:hover {
    background-color: $color-orientacion-dark;
}

/**** RECORRIDOS (TRAZADO) ****/
#lista-recorridos {
    display: inline-flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.recorrido {
    display: inline-flex;
    width: 200px;
    margin: 0 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    border: 2px solid black;
}
.nombre-recorrido {
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    background-color: $color-orientacion;
    color: white;
    border-bottom: 2px solid black;
}
.control-recorrido {
    text-align: center;
}

/**** CONTROLES (SCORE) *****/
#lista-controles {
    margin-top: 20px;
    font-size: 1.2rem;
}


#lista-mapas {
    display: inline-flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}
#lista-mapas > div {
    position: relative;
    width: 45%;
    min-width: 200px;
    margin: 15px 5px;
}
#lista-mapas img {
    width: 100%;
}
.btn-borrar-mapa {
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 0px 5px;
}
.btn-borrar-mapa i {
    margin: 0;
}


.btn-crear {
    display: block;
    margin: 100px auto 20px auto;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
    color: white;
}