<div class="main-container">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark noselect" role="navigation">  
    <div class="collapse navbar-collapse">
      <div class="container-fluid">
        <div class="navbar-header"><a class="nav-link btn-cabecera" routerLink='/'>EasyOrienteering</a></div>
        <div id="navbar" class="collapse navbar-collapse flex-content-end">
          <ul class="nav navbar-nav">
            <li><a class="nav-link btn-cabecera" routerLink='/crear/nueva'>Crear carrera</a></li>
            <li><a class="nav-link btn-cabecera" routerLink='/explorar'>Explorar</a></li>
            <li><a class="nav-link btn-cabecera" routerLink='/easyorienteering'>¿Qué es?</a></li>
            <li><a class="nav-link btn-cabecera" routerLink='/perfil'>Mi perfil</a></li>
            <li class="botones-conexion-registro">
              <a class="nav-link btn-cabecera btn-conectarse" routerLink='/login'>Conectarse</a>
              <a class="nav-link btn-cabecera btn-registro" routerLink='/registro'>Registrarse</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <alert></alert>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer-web">

  </div>
  
</div>
