<div class="main-container">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark noselect" role="navigation">  
    <div class="collapse navbar-collapse">
      <div class="container-fluid">
        <div class="navbar-header"><a class="nav-link btn-cabecera" routerLink='/'>EasyOrienteering</a></div>
        <div id="navbar" class="collapse navbar-collapse flex-content-end">
          <ul class="nav navbar-nav">
            <li><a class="nav-link btn-cabecera" routerLinkActive="" routerLink='/crear/nueva' [routerLinkActiveOptions]="{ exact: true }">Crear carrera</a></li>
            <li><a class="nav-link btn-cabecera" routerLinkActive="" routerLink='/easyorienteering' [routerLinkActiveOptions]="{ exact: true }">¿Qué es?</a></li>
            <li><a class="nav-link btn-cabecera" routerLinkActive="" routerLink='/perfil' [routerLinkActiveOptions]="{ exact: true }">Mi perfil</a></li>
            <li class="botones-conexion-registro">
              <a class="nav-link btn-cabecera btn-conectarse" routerLinkActive="" routerLink='/login' [routerLinkActiveOptions]="{ exact: true }">Conectarse</a>
              <a class="nav-link btn-cabecera btn-registro" routerLinkActive="" routerLink='/registro' [routerLinkActiveOptions]="{ exact: true }">Registrarse</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <alert></alert>
  <div class="app-container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer-web">

  </div>
  
</div>
