<div class="easyo-container">

    <div class="btns-cabecera" *ngIf="usuario">
        <a [routerLink]="['/logout']">
            <button type="button" class="btn btn-danger btn-cabecera-dcha">
                Cerrar sesión
            </button>
        </a>
    </div>


    <h1>Mi perfil</h1>
    <ng-container *ngIf="usuario; else cargando">

        <div class="datos-usuario px-5 d-flex">

            <div class="col-sm d-flex">
                <div class="col-4 mr-5">

                    <h4>Nombre</h4>
                    <h4 class="mt-5">Club</h4>
                </div>

                <div class="col-8">
                    <div class="d-inline-flex">
                        <input type="text" class="px-2" value="{{usuario.nombre}}" disabled />
                        <button class="btn btn-primary ml-2"><i class="fa fa-edit m-0"></i></button>
                    </div>

                    <div class="d-inline-flex mt-5">
                        <input type="text" class="px-2" value="{{usuario.club}}" disabled />
                        <button class="btn btn-primary ml-2"><i class="fa fa-edit m-0"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <h4>Miembro desde: <span class="h5">{{usuario.fechaRegistro | fechaBonita}}</span></h4>
            </div>
        </div>
    
        

        <h3 class="text-center mt-5">Mis carreras</h3>
        <div class="row">
            <div class="col-sm text-center">


                <div class="header-carreras">
                    <h4 class="text-center">Organizadas</h4>
                    <span *ngIf="organizadas">({{organizadas.length}})</span>
                </div>
                <div class="wrapper-carreras">

                    <table class="table table-hover">
                        <tbody>
                            <tr role="button" class="item-carrera" *ngFor="let carrera of organizadas" [routerLink]="['/carreras', carrera.id]">
                                <td class="text-truncate">{{carrera.nombre}}</td>
                                <td>{{carrera.tipo}}</td>
                                <td>{{carrera.modalidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                    

                    <span class="no-hay" *ngIf="organizadas && organizadas.length === 0">No has organizado ninguna carrera</span>

                    <div class="loader-carreras" *ngIf="!organizadas">
                        <div class="lds-baliza-wrapper">
                            <div class="lds-baliza"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm text-center">
                <div class="header-carreras">
                    <h4 class="text-center">Participadas</h4>
                    <span *ngIf="participadas">({{participadas.length}})</span>
                </div>
                <div class="wrapper-carreras">
                    
                    <table class="table table-hover">
                        <tbody>
                            <tr role="button" class="item-carrera" *ngFor="let carrera of participadas" [routerLink]="['/carreras', carrera.id]">
                                <td class="text-truncate">{{carrera.nombre}}</td>
                                <td>{{carrera.tipo}}</td>
                                <td>{{carrera.modalidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                    

                    <span class="no-hay" *ngIf="participadas && participadas.length === 0">No has participado en ninguna carrera</span>

                    <div class="loader-carreras" *ngIf="!participadas">
                        <div class="lds-baliza-wrapper">
                            <div class="lds-baliza"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        
    </ng-container>

    <div class="btns-final" *ngIf="usuario">
        <button type="button" class="btn btn-danger btn-final-dcha" (click)="clickBorrarCarrera()">
            <i class="fa fa-exclamation-triangle"></i>
            Borrar cuenta
        </button>
    </div>

    <ng-template #cargando>
        <div class="wrapper-cargando">
            <div class="lds-baliza-wrapper" *ngIf="!mensajeErrorCarga">
                <div class="lds-baliza"></div>
            </div>
            <div *ngIf="mensajeErrorCarga">
                <h2>{{mensajeErrorCarga}} ☹</h2>
                <button class="btn btn-primary btn-reintentar" (click)="cargaDatosUsuario()">Volver a intentar</button>
            </div>
        </div>
    </ng-template>
</div>

<!-- Diálogo de confirmación de borrado de cuenta -->
<ng-template #modalBorrarCuenta let-modal>
    <div class="modal-header">
        <h5 class="modal-title">¿Quieres borrar tu cuenta?</h5>
        <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>No podrás recuperar tu cuenta y desaparecerás de los resultados de los recorridos en los que hayas participado.</p> 
        <p>Las carreras que hayas creado <b>no se borrarán</b>. Si deseas borrarlas debes hacerlo de forma individual.</p>
        <br>
        <h3>¿Estás seguro/a? 😢</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()" ngbAutofocus>Me quedo</button>
        <button type="button" class="btn btn-danger"    (click)="confirmaBorrarCuenta()">
            <i class="fa fa-exclamation-triangle"></i>
            Sayonara, baby
        </button>
    </div>
</ng-template>