@import "../../../styles.scss";

.formHeader {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

label {
    margin-left: 10px;
}

#registroForm {
    margin: 20px;
}

.btn-primary {
    margin-top: 20px;
    background-color: $color-orientacion;
    font-weight: bold;
    font-size: x-large;
    transition: .3s;
    border: 1px solid black;
}

.btn-primary:hover {
    background-color: white;
    color: $color-orientacion;
}

.confirmacion {
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

.simboloConfirmacion {
    font-size: 7em;
    color: $color-exito;
    margin: 10px auto;
}