#wrap-vista-carrera {
    margin: 40px 100px;
    text-align: center;
}


h2 {
    margin-top: 40px;
}
#lista-controles {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.control {
    margin: 30px 200px;
    font-weight: bold;
    font-size: x-large;
}

.qr-control {
    background-color: gray;
    width: 200px;
    height: 200px;
}